@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h1 {
  font-family: 'Lobster', cursive;
  font-weight: 500;
  line-height: 1.1;
  color: black;
  font-size: 9;
  padding-left: 80px;
}

body {
  background-color: #fff;
}

.labelSelect{
  color:black; 
  font-size:13px; 
  background-color: white;
  font-weight: bold;
  padding-left: 40px;
}
